
@media (max-width: 567px) and (orientation: portrait) {

    #timer {
        font-size: 20px;
        margin:20px 5% 0 0;
    }

    .num{
        font-size:25px;
    }

    #timer p{
        font-size:30px;
    }

    #gallery{
        float: none;
        width: 90%;
        height:auto;
        margin: 40px 5% 10PX 5%;

    }

    #text {
        width: 90%;
        margin: 10px 5% 50PX 5%;
    }


}
