body {
	font-family: "microsoft yahei";
	height: 100%;
}
h1{
	font-size:50px;
	font-style: inherit;
}
h2{
	font-size:40px;
	font-style: inherit
}
h3{
	font-size:60px;
	color: #55C3B5;
	font-weight: 900;
	font-family: "微软雅黑";
	text-shadow: 0px 1px 1px black;
}
h4{
	font-size:40px;
	color: #55C3B5;
	font-weight: 900;
	font-family: "微软雅黑";
	text-shadow: 0px 1px 1px black;
}
h5{
	font-size:40px;
	color: white;
	font-family: "microsoft yahei";
	font-weight: 600;
}
li{
	font-family: "microsoft yahei";
	font-size: 20px;
}
p{
	margin: 10px;
}

/*　　整个页面的纹理背景　　*******************************************/
#background{
	background: url(../img/QQ图片20160412204030.png)	;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
}

/*　　左上角Level部分　　*******************************************/
#Level {
	position: absolute;
	padding: 0 10px 0 10px;
	left: 10px;
}

/*　　点击level后弹出的MyInfo页面部分　　******************************/
#MyInfo {
	position: absolute;
	left: 140px;
	top: 120px;
	background: white;
	transform: scale(0);
}
#InfoBackground {		/*头像图片*/
	position: relative;
	top: -8px;
	background: url(../img/Icon.jpg);
	background-size: 100%;
	width: 300px;
	height: 300px;
}
#InfoUnderImg{		/*头像图片下面文字区域*/
	padding: 15px;
	font-size: 20px;
}
.MyInfo-onImg {		/*头像图片上层文字部分*/
	position: relative;
	top: 220px;
	left: 10px;
}
.MyInfo-onImg-name {	/*上层名字*/
	font-size: 40px;
	font-style: initial;
	color: white;
}
.MyInfo-onImg-motto {	/*上层个性签名*/
	color: lightgray;
	font-size: 15px;
}

/*　　动画效果，关键帧与对应类　　**************************************/
/****　　大小缩放　　****/
.showTheBlock{
	animation: showBlock 0.3s;
}
.hideTheBlock{
	animation: hideBlock 0.3s;
}
@keyframes showBlock{
	0%{transform:scale(0)}
	100%{transform: scale(1);}
}
@keyframes hideBlock{
	0%{transform: scale(1);}
	100%{transform: scale(0);}
}

/****　　淡入淡出　　****/
.showMore{
	animation: fadeIn 0.3s;
}
.hideMore{
	animation: fadeOut 0.3s;
}
@keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes fadeOut{
	0%{opacity: 1;}
	100%{opacity:0;}
}

/****　　输入框窗口抖动　　****/
.inputError {
    animation: inputErr 0.1s 5;
}
@keyframes inputErr {
    0%  {left: 0px ;top:  0px;}
    25% {left: 8px ;top: -3px;}
    50% {left: 0px ;top:  0px;}
    75% {left: -8px;top:  3px;}
}

/*　　页面右侧四方菜单区　　*******************************************/
#MenuArea{	/*四方菜单区域定位*/
	display: block;
	position: absolute;
	height: 10px;
	width:10px;
	left: 65%;
	top: 20%;
}
.Menu-child{	/*子菜单通用样式*/
	display: block;
	background: #3FFCF6;
	opacity: 0.8;
	position: relative;
	transform: rotate(45deg);
	width:233px;
	height:233px;
	box-shadow: 2px 1px 1px;
}
.Menu-child p{
	opacity: 0;
}
.Menu-text{		/*菜单文本通用样式*/
	position: relative;
	transform: rotate(-45deg);
	text-align: center;
	left: 10px;
	top: 83px;
}
.Menu-text p{
	font-size: 16px;
}
/*　　四个菜单的各自定位　　*/
.Menu-top{    top: 0;		left: 0;	 }
.Menu-left{   top:-50px;    left: -187px;}
.Menu-right{  top: -285px;  left: 187px; }
.Menu-bottom{ top: -335px;	left: 0;	 }

/*  底部菜单区域      *******************************************/
#footerMenu{	/*底部菜单定位*/
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 50%;
	min-width: 960px;
}
#footerMenu-bg{  /*底部菜单背景*/
	border-radius: 10px;
	width: 100%;
	height: 60px;
	background: #E9604A;
	box-shadow: 2px 1px 1px;
	z-index: -10;
	
}
.footerMenuChild{	/*菜单按钮通用类*/
	position: absolute;
	text-align: center;
	/*background: black;*/
	margin-left: 30px;
	bottom: 10px;
	height: 40px;
	width: 200px;
	z-index: 10;
}
/*  各个子按钮位置　　*/
#footerMenu01{left: 0%}
#footerMenu02{left:20%}
#footerMenu03{left:40%}
#footerMenu04{left:60%}
#footerMenu05{left:80%}

/*  右上角切换按钮　　*******************************************/
#switchBtn{
	position: relative;
	top: 10px;
	float: right;
	height: 50px;
	width: 150px;
	text-align: center;
}

/*  右侧TODOLIST区域　　*****************************************/
#TodoListArea{	/*TodoList区域定位*/
	display: block;
	position: absolute;
	height: 10px;
	width:10px;
	left: 77%;
	top: 20%;
	transform: scale(0);
}
#TodoListTitle-bg{  /*TodoList带背景的标题*/
	padding: 10px 20px 0 20px;
	background: url(../img/TodoList_bg.png);
	background-repeat: round;
	height: 65px;	
}
#AddInput_TDL {		/*TodoList输入框*/
	position: relative;
    width: 186px;
}
#EditArea_TDL input{  /*TodoList Input 输入框*/
	display: inline-block;
	position: relative;
	width: 85%;
	height: 40px;
	border:.1px solid #ffffff;
}
.TDL_Btn{ /*TodoList 输入框右侧的Edit按钮*/
	display: inline-block;
	float: right;
	padding: 5px;
	height: 33px;
	width: 12%;
	text-align: center;
	font-size: 30px;
	background: lightgray;
}
#list_TD li{    /*TodoList条目样式*/
	display: block;
	background: white;
	padding: 10px;
	border-top: solid 1px lightgray;	
}
#TodoList {			/*TodoList组件body*/
	position: relative;
	left:-490px;
    width: 680px;
    padding: 30px;
    overflow: hidden;
}
#EditArea_TDL {		/*编辑区域，按钮，文本框*/
    text-align: center;
    background: white;
}


/*  搜索框部分      *******************************************/
#Search {
    display: inline-block;
    border: solid black 2px;
    text-align: center;
    width: 20em;
    margin: 0 2em 2em 1em;
    padding: 30px;
    float: left;
}
#SEOButton{
	padding: 1px;
}