body {
	font-family: "microsoft yahei";
	height: 100%;
}

h1{
	font-size:50px;
	font-style: inherit;
}

h2{
	font-size:40px;
	font-style: inherit
}

h3{
	font-size:60px;
	color: #55C3B5;
	font-weight: 900;
	font-family: "微软雅黑";
	text-shadow: 0px 1px 1px black;
}
h4{
	font-size:40px;
	color: #55C3B5;
	font-weight: 900;
	font-family: "微软雅黑";
	text-shadow: 0px 1px 1px black;
}

ol{
	margin-left:40px ;
}
li{
	list-style:decimal;
	font-family: "microsoft yahei";
	font-size: 20px;
}

p{
	margin: 10px;
}


#Level {
	position: absolute;
	padding: 0 10px 0 10px;
	left: 10px;
}
	
#MyInfo {
	position: absolute;
	left: 140px;
	top: 120px;
	background: white;
	transform: scale(0);
}

#background{
	background: url(../img/QQ图片20160412204030.png)	;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
}

.showTheBlock{
	animation: showBlock 0.3s;
}
.hideTheBlock{
	animation: hideBlock 0.3s;
}
@keyframes showBlock{
	0%{transform:scale(0)}
	100%{transform: scale(1);}
}
@keyframes hideBlock{
	0%{transform: scale(1);}
	100%{transform: scale(0);}
}

#InfoBackground {
	position: relative;
	top: -8px;
	background: url(../img/Icon.jpg);
	background-size: 100%;
	width: 300px;
	height: 300px;
}

#InfoUnderImg{
	padding: 15px;
	font-size: 20px;
}

.MyInfo-onImg {
	position: relative;
	top: 220px;
	left: 10px;
}

.MyInfo-onImg-name {
	font-size: 40px;
	font-style: initial;
	color: white;
}

.MyInfo-onImg-motto {
	color: lightgray;
	font-size: 15px;
}



#MenuArea{
	display: block;
	position: absolute;
	height: 10px;
	width:10px;
	left: 65%;
	top: 20%;
}

.Menu-child{
	display: block;
	background: #3FFCF6;
	opacity: 0.8;
	/*border: solid black 2px;*/
	position: relative;
	transform: rotate(45deg);
	width:233px;
	height:233px;
	box-shadow: 2px 1px 1px;
}
.Menu-child p{
	opacity: 0;
}

.Menu-text{
	position: relative;
	transform: rotate(-45deg);
	text-align: center;
	top: 83px;
}

.Menu-top{
	top: 0;
	left: 0;
}

.Menu-left{
	top:-50px ;
	left: -187px;
}

.Menu-right{
	top: -285px;
	left: 187px;
}

.Menu-bottom{
	top: -335px;
}

#footerMenu{
	position: absolute;
	bottom: 0px;
	background: greenyellow;
	height: 50px;
	width: 50%;
}

.footerMenuChild{
	position: absolute;
	bottom: 0px;
	background: black;
	height: 40px;
	width: 150px;
}

#footerMenu01{left: 0%;}
#footerMenu02{left:15%}
#footerMenu03{left:30%}
#footerMenu04{left:45%}

#hideMenuBtn{
	position: relative;
	top: 10px;
	float: right;
	height: 50px;
	width: 150px;
	text-align: center;
}

.showMore{
	animation: fadeIn 0.3s;
}
.hideMore{
	animation: fadeOut 0.3s;
}

@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
		}
}
@keyframes fadeOut{
	0%{
		opacity: 1;
		}
	100%{
		opacity:0;
	}
}


/*TODOLIST Part*/
#TodoListArea{
	display: block;
	position: absolute;
	height: 10px;
	width:10px;
	left: 77%;
	top: 20%;
	transform: scale(0);
}

#AddInput_TDL {
	position: relative;
    width: 186px;
}

#TodoList {
	position: relative;
	left:-390px;
    border: solid black 2px;
    width: 480px;
    padding: 30px;
    overflow: hidden;
}

#EditArea_TDL {
    text-align: center;
}

#Search {
    display: inline-block;
    border: solid black 2px;
    text-align: center;
    width: 20em;
    margin: 0 2em 2em 1em;
    padding: 30px;
    float: left;
}

#SEOButton{
    padding: 1px;
}

.inputError {
    animation: inputErr 0.1s 5;
}

@keyframes inputErr {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 8px;
        top: -3px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    75% {
        left: -8px;
        top: 3px;
    }
}
