body {
    font-family: "Microsoft YaHei";
    overflow: hidden;
}
h1 {
    font-size: 50px;
    font-style: inherit;
}

h2 {
    font-size: 40px;
    font-style: inherit
}

h3 {
    font-size: 60px;
    color: #55C3B5;
    font-weight: 900;
    text-shadow: 0 1px 1px black;
}

h4 {
    font-size: 40px;
    color: #55C3B5;
    font-weight: 900;
    text-shadow: 0 1px 1px black;
}

h5 {
    font-size: 40px;
    color: white;
    font-weight: 600;
}

li {
    font-size: 20px;
}

p {
    margin: 10px;
}

/*　　整个页面的纹理背景　　*******************************************/

#background {
    background: url(../img/QQ图片20160412204030.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

/*　　人物立绘部分　　*******************************************/

#MyPng {
    position: absolute;
    bottom: 60px;
    left: 10%;
    height: 80%;
}

/*　　左上角Level部分　　*******************************************/

#Level {
    position: fixed;
    padding: 0 10px 0 10px;
    left: 10px;
}

/*　　点击level后弹出的MyInfo页面部分　　******************************/

#MyInfo {
    position: absolute;
    left: 140px;
    top: 120px;
    background: white;
    transform: scale(0);
    z-index: 10;
}

#InfoBackground {
    /*头像图片*/
    position: relative;
    top: -8px;
    background: url(../img/Icon.jpg);
    background-size: 100%;
    width: 300px;
    height: 300px;
}

#InfoUnderImg {
    /*头像图片下面文字区域*/
    padding: 15px;
    font-size: 20px;
}

.MyInfo-onImg {
    /*头像图片上层文字部分*/
    position: relative;
    top: 220px;
    left: 10px;
}

.MyInfo-onImg-name {
    /*上层名字*/
    font-size: 40px;
    font-style: initial;
    color: white;
}

.MyInfo-onImg-motto {
    /*上层个性签名*/
    color: lightgray;
    font-size: 15px;
}

/*　　动画效果，关键帧与对应类　　**************************************/

/****　　大小缩放　　****/

.showTheBlock {
    animation: showBlock 0.3s;
}

.hideTheBlock {
    animation: hideBlock 0.3s;
}

@keyframes showBlock {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hideBlock {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/****　　淡入淡出　　****/

.showMore {
    animation: fadeIn 0.3s;
}

.hideMore {
    animation: fadeOut 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/****　　输入框窗口抖动　　****/

.inputError {
    animation: inputErr 0.1s 5;
}

@keyframes inputErr {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 8px;
        top: -3px;
    }
    50% {
        left: 0;
        top: 0;
    }
    75% {
        left: -8px;
        top: 3px;
    }
}

/****　　TodoList菜单下拉　　****/

.pullDownMenu {
    animation: DownMenu 0.2s;
}

.pushUpMenu {
    animation: UpMenu 0.2s;
}

@keyframes UpMenu {
    0% {
        top: 0;
    }
    100% {
        top: -100px;
    }
}

@keyframes DownMenu {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

/****　　Timer屏幕下拉　　****/

.pullDownPage {
    animation: pageDown 0.3s;
}

.pushUpPage {
    animation: pageUp 0.3s;
}

@keyframes pageDown {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes pageUp {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

/****　　通知窗口下拉　　****/
.pullDownNotice {
    animation: DownNotice 0.3s;
}

.pushUpNotice {
    animation: UpNotice 0.3s;
}

@keyframes DownNotice {
    0% {
        top: -30%;
    }
    100% {
        top: 0;
    }
}

@keyframes UpNotice {
    0% {
        top: 0;
    }
    100%{
        top:-30%;
    }
}


/*　　页面右侧四方菜单区　　*******************************************/

#MenuArea {
    /*四方菜单区域定位*/
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    left: 65%;
    top: 20%;
}

.Menu-child {
    /*子菜单通用样式*/
    position: relative;
    display: block;
    background: #3FFCF6;
    opacity: 0.8;
    transform: rotate(45deg);
    width: 233px;
    height: 233px;
    box-shadow: 2px 1px 1px;
}

.Menu-child p {
    opacity: 0;
}

.Menu-text {
    /*菜单文本通用样式*/
    position: relative;
    transform: rotate(-45deg);
    text-align: center;
    left: 10px;
    top: 83px;
}

.Menu-text p {
    font-size: 16px;
}

/*　　四个菜单的各自定位　　*/

.Menu-top {
    top: 0;
    left: 0;
}

.Menu-left {
    top: -50px;
    left: -187px;
}

.Menu-right {
    top: -285px;
    left: 187px;
}

.Menu-bottom {
    top: -335px;
    left: 0;
}

/*  底部菜单区域      *******************************************/

#footerMenu {
    /*底部菜单定位*/
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 50%;
    min-width: 960px;
}

#footerMenu-bg {
    /*底部菜单背景*/
    position: relative;
    border-radius: 10px;
    width: 100%;
    min-height: 60px;
    background: #E9604A;
    box-shadow: 2px 1px 1px;
    z-index: -10;
}

.footerMenuChild {
    /*菜单按钮通用类*/
    position: absolute;
    text-align: center;
    margin-left: 30px;
    bottom: -7px;
    height: 60px;
    width: 200px;
    z-index: 10;
}

.footerMenuChild h5:hover {
    border-bottom: solid white 5px;
    background: rgba(255, 255, 255, 0.2);
}

/*  各个子按钮位置　　*/

#footerMenu01 {
    left: 0
}

#footerMenu02 {
    left: 20%
}

#footerMenu03 {
    left: 40%
}

#footerMenu04 {
    left: 60%
}

#footerMenu05 {
    left: 80%
}

/*  右上角切换按钮　　*******************************************/

#switchBtn {
    position: relative;
    top: 10px;
    float: right;
    height: 50px;
    width: 150px;
    text-align: center;
}

/*  右侧TODOLIST区域　　*****************************************/

#TodoListArea {
    /*TodoList区域定位*/
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    left: 77%;
    top: 15%;
    transform: scale(0);
}

#TodoListTitle-bg {
    /*TodoList带背景的标题*/
    position: relative;
    padding: 10px 20px 0 20px;
    background: url(../img/TodoList_bg.png) round;
    height: 65px;
    z-index: 10;
}

#AddInput_TDL {
    /*TodoList输入框*/
    position: relative;
    width: 186px;
    color: lightgray;
    padding: 4px;
    font-size: 18px;
}

#EditArea_TDL input {
    /*TodoList Input 输入框*/
    display: inline-block;
    position: relative;
    width: 85%;
    height: 40px;
    border: 1px solid #ffffff;
    font-size: 25px;
}

.TDL_Btn {
    /*TodoList 输入框右侧的Edit按钮*/
    position: relative;
    display: inline-block;
    float: right;
    padding: 5px;
    height: 40px;
    width: 12%;
    text-align: center;
    font-size: 30px;
    background: lightgray;
    z-index: 10;
}

.TDL_Btn:hover {
    background: gray;
}

#TDL_Btn_Area {
    position: relative;
    width: 680px;
    height: 0;
    left: 86.53%;
    top: -100px;
    z-index: 1;
}

#TDL_Btn_Clear {
    display: block;
    float: none;
}

#TDL_Btn_Finish {
    display: block;
    float: none;
}

.checkBox_TDL {
    /*TodoList文本左侧的复选框*/
    position: relative;
    float: left;
    top: -5px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    text-align: center;
    border-right: solid 1px lightgray;
}

.checkBox_TDL input {
    height: 30px;
    width: 30px;
    opacity: 0;
}

.checkBox_TDL input:checked {
    opacity: 1;
    background-color: coral;
}

#list_TD li {
    /*TodoList条目样式*/
    background: white;
    padding: 10px 10px 10px 0;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

#list_TD {
    position: relative;
    min-height: 100px;
}

#TodoList {
    /*TodoList组件body*/
    position: relative;
    left: -490px;
    width: 680px;
    padding: 30px;
    overflow: hidden;
}

#EditArea_TDL {
    /*编辑区域，按钮，文本框*/
    text-align: center;
    background: white;
}

/*  搜索框部分      *******************************************/

#Search {
    position: relative;
    top: -230px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    min-width: 300%;
    padding: 30px;
    transform: scale(0);
    background-color: rgba(36, 147, 173, .5);
}

#SearchInput {
    position: relative;
    color: lightgray;
    font-size: 25px;
    width: 60%;
    height: 40px;
    margin: 10px;
}

#SEOButton {
    padding: 1px;
    height: 40px;
    width: 90px;
    font-size: 23px;
    border-radius: 5px;
    background: white;
}

#SEOSelect {
    height: 40px;
    font-size: 23px;
    border-radius: 5px;
}

/*  Timer部分      *******************************************/

#Timer {
    position: absolute;
    height: 0;
    width: 100%;
    text-align: center;
    background: black;
    opacity: 0.9;
    z-index: 100;
}

#Number {
    position: relative;
    top: 45%;
    margin-top: -100px;
    font-size: 200px;
    color: white;
}

/*  通知窗口部分      *******************************************/
#Notice {
    position: absolute;
    width: 60%;
    top: -30%;
    left: 20%;
    border: solid lightblue 2px;
    border-radius: 5%;
    background: #F1F1F1;
    opacity: .9;
    overflow: hidden;
}

#NoticeTitle {
    width: 100%;
    padding:8px;
    background: lightblue;
}

#NoticeText {
    padding: 30px;
    font-size:25px;
}

#NoticeTitleBtn {
    float: right;
    margin: 40px 20px 20px 20px;
    padding: 10px;
    font-size: 30px;
    background: lightblue;
    color: white;;

}
#NoticeTitleBtn:hover {
    background: white;
    color: lightblue;
    box-shadow: 0 5px 10px rgba(0,0,0,.12);
}

#NoticeText > input{
    margin-left:10px;
    width: 50%;
}
#NoticeInput {
    position: relative;
    color: lightgray;
}